* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(22, 22, 22);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    width: 40px;
    margin: 7px;
}
.logo p {
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav a {
    margin-left: 30px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.link {
    border-bottom: transparent solid 2px;
    margin-left: 30px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.link:hover{
    border-bottom: #7f72ad solid 2px;
}
body {
    font-family: Arial, sans-serif;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    margin: 0;
    padding: 0;

}

.container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: rgb(202, 196, 255);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 95%;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #d0bbff;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 5px;
    background-color: #5c3ccf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2b1f57;
}

.sign {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

a {
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #6e4ee2;
}