.zag {
    display: flex;
    justify-content: center;
    font-size: 3vh;
    
}

.network a {
    text-decoration: none;
    color: rgb(20, 47, 105);
}

.list {
    display: flex;
    justify-content: flex-start;
}
