.text img {
    width: 400px;
    height: 270px;
}
.a{
    color: aqua;
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
}
.b{
    color: rgb(0, 255, 34);
    font-size: 11px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.c{
    color: rgb(0, 60, 255);
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.d{
    color: rgb(38, 141, 141);
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.e{
    color: rgb(126, 37, 99);
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.f{
    color: rgb(199, 188, 31);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.g{
    color: rgb(20, 135, 202);
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.h{
    color: rgb(207, 24, 24);
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.i{
    color: rgb(255, 138, 245);
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}    
.j{
    color: rgb(0, 255, 149);
    font-size: 19px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.k{
    color: rgb(255, 123, 0);
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
.l{
    color: rgb(116, 56, 21);
    font-size: 21px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.m{
    color: rgb(132, 0, 255);
    font-size: 22px;
    font-family: cursive;
}
.n{
    color: rgb(61, 21, 206);
    font-size: 23px;
    font-family: fantasy;
}
.o{
    color: rgb(25, 83, 35);
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.p{
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.q{
    color: rgb(131, 10, 76);
    font-size: 26px;
    font-family: serif;
}
.r{
    color: rgb(187, 140, 69);
    font-size: 27px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.s{
    color: rgb(29, 21, 102);
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}