@font-face {
    font-family: federant;
    src: url(../Assets/fonts/Federant-Regular.ttf);
}

@font-face {
    font-family: IMB;
    src: url(../Assets/fonts/IBMPlexSerif-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #090904;
    border-bottom: 1px solid #a50c0a;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 65px;
    width: 65px;
}
.logo p {
    font-size: 24px;
    margin-left: 10px;
    color: #a50c0a;
    font-family: federant;
    font-size: 26px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation a {
    text-decoration: none;
    font-size: 20px;
    font-family: IMB;
    color: #f0f4f5;
    margin-left: 50px;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(../Assets/img/pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #a50c0a;
}

.home h1 {
    color: #000000;
    font-family: federant;
    font-size: 50px;
}

.home p {
    color: #a50c0a;/*#cc001e */
    font-family: IMB;
    font-size: 20px;
}

.catalog {
    display: flex;
    background-color: #090904;/*#004d00*/
    height: 160vh;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #a50c0a;
}

.catalog h2 {
    color: #f0f4f5;/*#46000a #070202*/
    font-size: 30px;
    font-family: IMB;
    margin-top: 30px;
}

.burger_menu {
    display: flex;
    margin-top: 30px;
    align-self: flex-end;
}

.menu_btn {
    background: rgb(208,169,25);
    background: linear-gradient(90deg, rgba(208,169,25,1) 6%, rgba(184,150,28,1) 33%, rgba(223,204,77,1) 58%, rgba(164,138,0,1) 83%, rgba(224,210,74,1) 100%);
    color: #131313;
    padding: 16px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 160px;
    font-family: IMB;
}


  
.filter {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 50px;
}
  
.filter_menu {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 55px;
    border-radius: 5px;
}
  
.filter_menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: solid 1px;
    border-color: #00000011;
    font-family: IBM;
    font-size: 18px;
}
  
.filter_menu a:hover {
    background-color: #ffdfdf;
    border-radius: 5px;
}
.filter:hover .filter_menu {
    display: block;
    border-radius: 5px;
}
.filter:hover .menu_btn {
    background-color: #04003d; 
    color: #f9f9f9;
}

.products_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px 0px 0px 30px;
}

.armor {
    display: flex;
    flex-direction: column;
    margin: 60px 30px 0px 0px;
    border: 1px solid #00000056;
    border-radius: 17px;
    
}

.armor img {
    width: 275px;
    height: 280px;
    border-radius: 15px 15px 0px 0px;
}

.armor a, p {
    text-decoration: none;
    font-family: IMB;
    font-size: 16px;
    padding-top: 5px;
    margin: 0;
    color: #f0f4f5; /*#27c296 #2ea98c f0f4f5*/
}

.text_armor {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px 10px 10px 10px;
    background-color:#390007; /*030f0f #0e0e0f #390007*/
    border-radius: 0px 0px 15px 15px;
}


.infa {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: url(../Assets/img/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    border-bottom: 1px solid #a50c0a;
    
}

.infa h2 {
    color: #f0f4f5;/*#46000a #070202*/
    font-size: 30px;
    font-family: IMB;
    margin-top: 30px;
}

.infa span {
    color: #f0f4f5;
    font-family: IMB;
    font-size: 20px;
    margin: 50px;
    border: solid;
    border-color: transparent;
    background-color: #09090459;
    padding: 20px;
    border-radius: 20px;
    line-height: 1.5;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
    background-color: #090904;
    
}

.contacts h2 {
    color: #f0f4f5;/*#46000a #070202*/
    font-size: 24px;
    font-family: IMB;
    margin-top: 20px;
}

.contacts_list p {
    color: #a50c0a;/*#46000a #070202*/
    font-size: 20px;
    font-family: federant;
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 30px;
}

.contacts_list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}