@font-face {
    font-family: federant;
    src: url(../Assets/fonts/Federant-Regular.ttf);
}

@font-face {
    font-family: IMB;
    src: url(../Assets/fonts/IBMPlexSerif-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #090904;
    border-bottom: 1px solid #a50c0a;
}

.arrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.arrow img {
    height: 25px;
    width: 25px;
    margin: 2vw;
}

.arrow p {
    color: #f0f4f5;
    font-family: IMB;
    font-size: 20px;
    margin-left: 3%;
}

.arrow a {
    text-decoration: none;
}

.list_cart {
    display: flex;
    flex-direction: row; 
    align-items: center;
    
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 30px;
}

.logo img {
    height: 65px;
    width: 65px;
}

.logo p {
    font-size: 24px;
    margin-left: 1.5vw;
    color: #a50c0a;
    font-family: federant;
    font-size: 26px;
}

.logo a {
    text-decoration: none;
}

.cart {
    margin-right: 20px;
}

.cart img {
    height: 35px;
    width: 35px;
}

.product_card {
    display: flex;
    flex-direction: column;
    background-color: #090904;
}

.pic_card img {
    height: 600px;
    width: 600px;
    border-radius: 10px;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 60px;
    border-bottom: 1px solid #a50c0a;
}

.text_card {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.specifications h1 {
    font-family: IMB;
    font-size: 30px;
    margin-bottom: 30px;
    color: #f0f4f5;
}

.specifications_btn {
    background: rgb(208,169,25);
    background: linear-gradient(90deg, rgba(208,169,25,1) 6%, rgba(184,150,28,1) 33%, rgba(223,204,77,1) 58%, rgba(164,138,0,1) 83%, rgba(224,210,74,1) 100%);
    color: #131313;
    padding: 10px 15px 10px 15px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 250px;
    font-family: IMB;
    margin-bottom: 25px;
}

.specifications p {
    font-family: IMB;
    font-size: 20px;
    margin-bottom: 20px;
    color: #f0f4f5;
}

.price p {
    font-size: 30px;
    color: #a50c0a;
}

.description h2 {
    font-family: IMB;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #f0f4f5;

}

.description p {
    font-family: IMB;
    font-size: 20px;
    color: #f0f4f5;

}

.feedback_list {
    margin: 0px 60px 0px 60px;
    display: flex;
    flex-direction: column;

}

.feedback_list h2 {
    font-family: IMB;
    font-size: 30px;
    padding: 30px 0px 20px 0px;
    color: #f0f4f5;
    align-self: center;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.comment {
    margin: 0px 30px 20px 30px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #f0f4f58a;
}

.comment img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.comment h3 {
    font-family: IMB;
    font-size: 20px;
    margin-left: 15px;
    color: #a50c0a;
}

.comment span {
    font-family: IMB;
    font-size: 18px;
    margin-bottom: 20px;
    color: #f0f4f5;
}


@media (min-width: 300px) and (max-width: 767px) {
    nav {
        width: 100%;
        padding: 1vw 0 1vw 0;
    }
    .arrow {
    width: 40%;
    }
    .arrow p{
        font-size: 3.5vw;
    }
    .arrow img {
        width: 5vw;
        height: 5vw;
    }
    .list_cart {
        width: 60%;
    }
    .logo {
        margin: 0vw 2vw 0vw 0;
    }
    .logo img {
        width: 9vw;
        height: 9vw;
    }
    .logo p {
        font-size: 4vw;
        margin-right: 2vw;
        margin-left: 1vw;
    }
    .cart {
        margin-right: 3%;
    }
    .cart img {
        width: 7vw;
        height: 7vw;
    }
    .product_card {
        padding-top: 7%;
    }
    .pic_card img{
        width: 70vw;
        height: 100%;
    }
    .card {
        display: flex;
        flex-direction: column;
        padding: 0%;
    }
    .text_card {
        margin: 0%;
    }
    .specifications {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0%;
        margin: 0%;
    }
    .specifications h1 {
        font-size: 7vw;
        margin-bottom: 5%;
    }
    .specifications_btn {
        margin-bottom: 3%;
        width: 60%;
        font-size: 4.5vw;
    }
    .specifications p {
        font-size: 4.5vw;
        margin-bottom: 2%;
    }
    .price p {
        font-size: 7vw;
    }
    .description{
        margin: 5% 10% 10% 10%;
    }
    .description h2 {
        font-size: 6vw;
    }
    .description p {
        font-size: 4.5vw;
    }
    .feedback_list {
        margin: 0 10% 0 10%;
        
    }
    .feedback_list h2 {
        font-size: 7vw;
        padding: 0%;
        margin-top: 5%;
    }
    .comment {
        margin: 0%;
    }
    .user {
        padding: 5% 0 5% 0;
        margin: 0;
    }
    .comment img {
        width: 17vw;
        height: 17vw;
    }
    .comment h3 {
        font-size: 6vw;
    }
    .comment span {
        font-size: 4.5vw;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    nav {
        width: 100%;
        padding: 1vw 0 1vw 0;
    }
    .arrow {
    width: 40%;
    }
    .arrow p{
        font-size: 3.5vw;
    }
    .arrow img {
        width: 5vw;
        height: 5vw;
    }
    .list_cart {
        width: 60%;
    }
    .logo {
        margin: 0vw 2vw 0vw 0;
    }
    .logo img {
        width: 9vw;
        height: 9vw;
    }
    .logo p {
        font-size: 4vw;
        margin-right: 2vw;
    }
    .cart {
        margin-right: 3%;
    }
    .cart img {
        width: 7vw;
        height: 7vw;
    }
    .product_card {
        padding-top: 7%;
    }
    .pic_card img{
        width: 70vw;
        height: 100%;
    }
    .card {
        display: flex;
        flex-direction: column;
        padding: 0%;
    }
    .text_card {
        margin: 0%;
    }
    .specifications {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0%;
        margin: 0%;
    }
    .specifications h1 {
        font-size: 7vw;
        margin-bottom: 5%;
    }
    .specifications_btn {
        margin-bottom: 3%;
        width: 60%;
        
    }
    .specifications p {
        font-size: 4.5vw;
        margin-bottom: 2%;
    }
    .price p {
        font-size: 7vw;
    }
    .description{
        margin: 5% 10% 10% 10%;
    }
    .description h2 {
        font-size: 6vw;
    }
    .description p {
        font-size: 5vw;
    }
    .feedback_list {
        margin: 0 10% 0 10%;
    }
    .feedback_list h2 {
        font-size: 7vw;
    }
    .comment {
        margin: 0%;
    }
    .user {
        padding: 5% 0 5% 0;
        margin: 0;
    }
    .comment img {
        width: 17vw;
        height: 17vw;
    }
    .comment h3 {
        font-size: 6vw;
    }
    .comment span {
        font-size: 5vw;
    }
}