* {
    margin: 0;
    padding: 0;
}

.wraper{
    width: 1440px;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.945);
}
.logo {
    display: flex;
    align-items: center;
}
.logo img{
    height: 7vh;
    margin: 3px;

}
.logo p {

    color: white;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;

}

.nav {
    display: flex;
    align-items: center;
    flex-direction: row;


}
.nav a {
    margin-right: 30px;
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.glavnaya {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(142, 131, 227, 0.856);
    background-repeat: no-repeat;
}

.glavnaya h1 {
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;

}
.glavnaya p {
    font-family: Arial, Helvetica, sans-serif;
}
.yslugi {
    height: 80vh;
    background-color: rgb(173, 195, 255);
}

.ysl_zag {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 50px;
}
.kart {
    display: flex;
    justify-content: space-around;
}
.yslugi h2 {

    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.yslugi p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(41, 39, 148);
}
.yslugi_list {
    display: flex;
    flex-direction: column;
    
    margin-left: 50px;
    border: 3px;
}
.yslugi_list img {
    height: 200px;
    width: 300px;
    border: 3px;

}
.onas_zag {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

.onas {
    height: 80vh;
    background-color: rgb(173, 195, 255);
}
.onas p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
.onas h2 {
    margin-top: 20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.contacti {

    height: 80vh;
    background-color: rgb(173, 195, 255);
}
.con_zag {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 50px;
}
.contacti h2{
    margin-top: 20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.contacti a {
    text-decoration: none;
    font-size: 22px;
    color: rgb(26, 26, 120);
}
.contacti p {
    font-size: 22px;
    color: rgb(26, 26, 120);
}
.network {
    display: flex;
    flex-direction: column;

}
footer {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 30vh;
    background-color: rgb(17, 17, 17);
}
footer p {
    color: rgba(255, 255, 255, 0.767);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
