.shapka {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.zayav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   
.zayav img {
    width: 100px;
    height: 50px;
}
.podp {
    display: flex;
    flex-direction: row;
}
.dekan li {
    list-style-type: none;
}
.sogl li {
    list-style-type: none;
}
.dekan {
    
}